.message {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.imageAndText {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.text {
    background-color: #0078ff;
    color: white;
    border-radius: 15px 15px 0 15px;
    padding: 10px 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-right: 8px;
    word-wrap: break-word;
}

.text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -8px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #f1f0f0;
    border-left: 0;
    border-bottom: 0;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.messageText {
    white-space: pre-wrap;
}

.time {
    font-size: 12px;
    color: gray;
    text-align: right;
    margin-top: 4px;
    margin-right: 50px;
}