.friendMessage {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
    max-width: 60%;
}

.friendImageAndText img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.friendText {
    background-color: #f1f0f0;
    color: black;
    border-radius: 15px 15px 15px 0;
    padding: 10px 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    word-wrap: break-word;
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -8px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #f1f0f0;
    border-left: 0;
    border-bottom: 0;
}

.friendName {
    font-weight: bold;
    margin-bottom: 5px;
}

.friendMessageText {
    white-space: pre-wrap;
}

.friendTime {
    font-size: 12px;
    color: gray;
    margin-top: 4px;
    margin-left: 50px;
}
