.greetingForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 370px;
    height: 40px;
}

.inputAndButtonContainer {
    display: flex;
    gap: 10px;
}

.error {
    color: red;
    font-size: 14px;
}

.input {
    width: 370px;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid grey;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.input:focus {
    border-color: #4b99ff;
}

.errorInput {
    border: 2px solid red;
}

.button {
    width: 80px;
    height: 40px;
    padding: 6px 12px;
    border: none;
    background: #4b99ff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:focus {
    outline: none;
}

.button:active {
    transform: scale(0.97);
}

.button:disabled {
    background: #4b99ff;
    opacity: 0.5;
    cursor: not-allowed;
}

.text {
    font-size: 14px;
}

.greeting {
    font-size: 16px;
    font-weight: 600;
}
